<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.init_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InitAndroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".app.presentation.ui.open.partner.PartnerCheckActivity"
            android:exported="true" />
        <activity
            android:name=".app.presentation.ui.mypage.message.WriteMessageActivity"
            android:exported="true" />
        <activity
            android:name=".app.presentation.ui.mypage.NotificationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.ui.mypage.MyPageModifyStackActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.ui.mypage.MyPageModifyBasicInfoActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.ui.mypage.MyPageModifyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.ui.mypage.MyPageModifyLinkActivity"
            android:exported="true" />
        <activity
            android:name=".app.presentation.ui.mypage.MyPageSettingActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.ui.open.project.OpenProjectSecondActivity"
            android:exported="true" />
        <activity
            android:name=".app.presentation.ui.open.project.OpenProjectActivity"
            android:exported="true" />
        <activity
            android:name=".app.presentation.ui.home.signup.SignUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.presentation.ui.home.signin.SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.InitAndroid.NoActionBar" />
        <activity
            android:name=".app.presentation.ui.MainActivity"
            android:exported="true" />
        <activity
            android:name=".app.presentation.ui.home.recommendproject.RecommendProjectActivity"
            android:exported="true" />
        <activity
            android:name=".app.presentation.ui.feed.write.FeedWritingActivity"
            android:exported="true" />
        <activity
            android:name=".app.presentation.ui.feed.detail.FeedDetailActivity"
            android:exported="true" />
    </application>

</manifest>